
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

}

/* Preloader */
.preloader{
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
}

#fountainG{
position:relative;
width:234px;
height:28px;
margin:auto;
}

.fountainG{
position:absolute;
top:0;
background-color:rgba(62,145,209,0.97);
width:28px;
height:28px;
animation-name:bounce_fountainG;
  -o-animation-name:bounce_fountainG;
  -ms-animation-name:bounce_fountainG;
  -webkit-animation-name:bounce_fountainG;
  -moz-animation-name:bounce_fountainG;
animation-duration:1.5s;
  -o-animation-duration:1.5s;
  -ms-animation-duration:1.5s;
  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
transform:scale(.3);
  -o-transform:scale(.3);
  -ms-transform:scale(.3);
  -webkit-transform:scale(.3);
  -moz-transform:scale(.3);
border-radius:19px;
  -o-border-radius:19px;
  -ms-border-radius:19px;
  -webkit-border-radius:19px;
  -moz-border-radius:19px;
}

#fountainG_1{
left:0;
animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -ms-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
}

#fountainG_2{
left:29px;
animation-delay:0.75s;
  -o-animation-delay:0.75s;
  -ms-animation-delay:0.75s;
  -webkit-animation-delay:0.75s;
  -moz-animation-delay:0.75s;
}

#fountainG_3{
left:58px;
animation-delay:0.9s;
  -o-animation-delay:0.9s;
  -ms-animation-delay:0.9s;
  -webkit-animation-delay:0.9s;
  -moz-animation-delay:0.9s;
}

#fountainG_4{
left:88px;
animation-delay:1.05s;
  -o-animation-delay:1.05s;
  -ms-animation-delay:1.05s;
  -webkit-animation-delay:1.05s;
  -moz-animation-delay:1.05s;
}

#fountainG_5{
left:117px;
animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -ms-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
}

#fountainG_6{
left:146px;
animation-delay:1.35s;
  -o-animation-delay:1.35s;
  -ms-animation-delay:1.35s;
  -webkit-animation-delay:1.35s;
  -moz-animation-delay:1.35s;
}

#fountainG_7{
left:175px;
animation-delay:1.5s;
  -o-animation-delay:1.5s;
  -ms-animation-delay:1.5s;
  -webkit-animation-delay:1.5s;
  -moz-animation-delay:1.5s;
}

#fountainG_8{
left:205px;
animation-delay:1.64s;
  -o-animation-delay:1.64s;
  -ms-animation-delay:1.64s;
  -webkit-animation-delay:1.64s;
  -moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
0%{
transform:scale(1);
  background-color:rgb(11,38,143);
}

100%{
transform:scale(.3);
  background-color:rgb(255,255,255);
}
}

@-o-keyframes bounce_fountainG{
0%{
-o-transform:scale(1);
  background-color:rgb(11,38,143);
}

100%{
-o-transform:scale(.3);
  background-color:rgb(255,255,255);
}
}

@-ms-keyframes bounce_fountainG{
0%{
-ms-transform:scale(1);
  background-color:rgb(11,38,143);
}

100%{
-ms-transform:scale(.3);
  background-color:rgb(255,255,255);
}
}

@-webkit-keyframes bounce_fountainG{
0%{
-webkit-transform:scale(1);
  background-color:rgb(11,38,143);
}

100%{
-webkit-transform:scale(.3);
  background-color:rgb(255,255,255);
}
}

@-moz-keyframes bounce_fountainG{
0%{
-moz-transform:scale(1);
  background-color:rgb(11,38,143);
}

100%{
-moz-transform:scale(.3);
  background-color:rgb(255,255,255);
}
}


/*Scroll*/
* {
  scrollbar-width: thin;
  scrollbar-color: #1A477D;
}
*::-webkit-scrollbar {
  width: 4px; 
}

*::-webkit-scrollbar-thumb {
  background-color: #1A477D;
  
}


::-webkit-scrollbar-thumb:hover {
  background: #3479cc; 
}


/*NAVBAR SECTION*/
.navbar{
  background-color: #1A477D !important;
  border-bottom:#8FB714 1px solid;
}
.nav-link{
  color: white !important;
  transition: color .5s ease
}
.nav-link:hover{
  color:  #90B914 !important;
}

.dropdown-menu{
  margin-top: 17px !important;
  background-color: #90B914 ;
}
.dropdown-menu a{
  color: #fff !important;
}
.dropdown-menu a:hover{
  background-color: #305E75;
  color: #fff;
}


      /*HEADER SECTION*/
      #site-title {
        font-size: 30px;
        margin-top: 70px;
        min-width: 100%;
        background-color: #3479cc;
        height: 200px;
        color: #ffffff;
        font-size: 30px;
        
    }
    
    .site-tit h1 {
        text-align: center;
        line-height: 199px;
        font-family: 'Roboto Slab', serif;
        font-size: 60px;
    }
      /*ANNOUNCEMENT SECTION*/ 
      
.meta {
    font-family: Helvetica,Arial,open-sans;
    font-size: .8571rem;
    font-weight: 600;
    color: #0093e0!important;
}

.announcements{
    margin-top: 100px;
}
.events-section{
    padding-top: 76px;
}
.announcements .slick-slider ul {
    font-family: "Open Sans Condensed", Arial, Verdana, sans-serif;
}
.announcements .slick-slider ul li:last-child {
  border-bottom: none;
  margin-bottom:65px;
}
.announcements .slick-slider ul li h3:hover a {
  color: #7d3793;
  text-decoration: underline;
}
.announcements .slick-slider ul p {
  font-size: 1.2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, open-sans;
}
.announcements .slick-slider .all {
  color: #0093e0!important;
  font-family: "Helvetica Neue", Helvetica, Arial, open-sans;
}
.announcements .slick-slider .all:hover {
  border-bottom: none;
}
.announcements .slick-slider .all .fa-caret-right {
  padding-left: 6px;
  position: relative;
}
.announcements .slick-slider .all .fa-caret-right:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: -4px;
  right: 0;
  background-color: #fff;
}
.announcements .left-right-arrows button:first-child {
  margin-right: 3px;
}
.left-right-arrows {
  position: absolute;
  bottom: 0px;
  right: 10px;
}
.left-right-arrows button {
  height: 38px;
  width: 38px;
  border: 1px solid #464646;
}
.events-section {
  position: relative;
  margin: 0 auto;
}
.events-section .slick-slider ul {
  font-family: "Open Sans Condensed", Arial, Verdana, sans-serif;
}
.events-section .slick-slider ul li {
  padding: 2rem 0;
  position: relative;
}
.events-section .slick-slider ul li:last-child {
  border-bottom: none;
  margin-bottom: 65px;
}
.events-section .slick-slider ul li:hover .events-date {
  background-color: #461e52;
  color: #fff;
}
.events-section .slick-slider ul li:hover .event-li h3 {
  color: #0093e0!important;
}
.events-section .slick-slider ul li .event-li {
  display: inline-block;
  padding-left: 42px;
}
.events-section .slick-slider ul li .event-li h3 {
  display: inline-block;
  margin-bottom: 8px;
}
.events-section .slick-slider ul li .event-li p {
  font-size: 1.214rem;
  font-weight: 600;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, open-sans;
}
.events-section .slick-slider .all {
  color: #461e52;
  font-family: "Helvetica Neue", Helvetica, Arial, open-sans;
}
.events-section .slick-slider .all:hover {
  border-bottom: none;
}
.events-section .slick-slider .all .fa-caret-right {
  padding-left: 6px;
  position: relative;
}
.events-section .slick-slider .all .fa-caret-right:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: -4px;
  right: 0;
  background-color: #fff;
}
.events-section .slick-slider .events-date {
  min-width: 81px;
  height: 88px;
  background-color: #0093e0!important;
  font-family: "Helvetica Neue", Helvetica, Arial, open-sans;
  font-weight: 600;
  padding-top: 19px;
  display: inline-block;
  transition: all, 0.4s, ease;
}
.events-section .slick-slider .events-date a:focus, .events-section .slick-slider .events-date a:hover {
  color: #fff;
}
.events-section .slick-slider .events-date span {
  font-weight: 300;
  font-size: 2.5rem;
  display: block;
  padding: 0;
  line-height: 30px;
}
a {
  color: #0093e0!important;
    transition: all,.4s,ease;
}

        /*CONTACT SECTION*/

  #contact{
  margin-top: 100px;
  background-color: #E9EDF0;
}
.contact-logo{
  margin-top: 40px;
  font-weight: 300;
}
.logo-img{
  margin-bottom: 30px;
}
.contact-button button{
  margin-top: 15px;
  padding: 10px 15px;
  outline: none;
  background-color: #8FB714;
  color: #fff;
  border-radius: 10px;
  border: none;
}
.contact-button button:hover{
  color: #1A477D;
}

.contact-title {
  font-weight: 400;
  margin: 40px;
}
.contact-title p {
  font-size: 18px;
  font-weight: bold;
}
.contact-title .contact-items{
  text-decoration: none;
}
.infos{
  background-color: #8FB714;
  padding-top: 40px;
}

  /*FOOTER SECTION*/
#footer{
  background-color: #1A477D;
}
#footer p{
  color: #fff;

}










@media (max-width: 991px) {
  .announcements {
    margin: 0 auto;
    width: 70%;
  }
}

@media (max-width: 767px) {
  .contact-logo{
    margin-left: 40px;
  }
  .announcements {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .announcements {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .announcements h2 {
    border-bottom: none;
  }
}

@media (max-width: 991px) {
  .announcements h2.events-heading {
    padding-left: 15px;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .left-right-arrows {
    border-top: -21px;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .left-right-arrows button {
    height: 50px;
    width: 50px;
  }
}


@media (max-width: 991px) {
  .events-section {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .events-section {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .events-section {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .events-section .slick-slider ul li:after {
    width: 80px;
  }
}
@media (max-width: 767px) {
  .events-section .slick-slider ul li .event-li {
    padding-left: 15px;
  }
}
@media (max-width: 767px) {
  .events-section .slick-slider ul li .event-li h3 {
    font-size: 1.429rem;
  }
}
@media (max-width: 767px) {
  .events-section .slick-slider ul li .event-li p {
    font-size: 16px;
    /*font-size: 1.6rem;*/
  }
}
@media (max-width: 767px) {
  .events-section .slick-slider .events-date {
    width: 61px;
    height: 68px;
    padding-top: 10px;
  }
}
@media (max-width: 767px) {
  .events-section .slick-slider .events-date span {
    font-size: 1.429rem;
  }
}

@media (min-width: 991px) {
  .events-section .left-right-arrows {
    bottom: 0px;
  }
}