*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

/* Preloader */
.preloader{
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#fountainG{
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgba(62,145,209,0.97);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(11,38,143);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(11,38,143);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(11,38,143);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(11,38,143);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(11,38,143);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}


/*Scroll*/
* {
    scrollbar-width: thin;
    scrollbar-color: #1A477D;
  }
  *::-webkit-scrollbar {
    width: 4px; 
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #1A477D;
    
  }


  ::-webkit-scrollbar-thumb:hover {
    background: #3479cc; 
  }
  

/*Navbar*/
.navbar{
	background-color: #1A477D !important;
	border-bottom:#8FB714 1px solid;
}
.nav-link{
	color: white !important;
	transition: color .5s ease
}
.nav-link:hover{
	color:  #90B914 !important;
}
.navbar-dark .navbar-toggler{
	outline: none;
}

@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}


@media (min-width: 360px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}



@keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.dropdown-menu{
	margin-top: 16px !important;
	background-color: #90B914 ;
}
.dropdown-menu a{
	color: #fff;
}
.dropdown-menu a:hover{
	background-color: #305E75;
	color: #fff;
}
#elaqe{
    margin-top: 100px;
}

#elaqe h3{
    color:#3D4448;
    font-size: 24px;
    margin-bottom: 8px;
    margin-left: 11px;
    font-weight: 400;
}
#elaqe input{
    width: 49%;
    height: 35px;
    outline: none;
    border: 1px solid #ced4da;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 6px 12px;
}
textarea{
    width: 99%;
    height: 130px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    padding: 6px 12px;
}
#elaqe button{
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background-color: #1A477D;
    color: #fff;
    padding: 7px 10px;
}
.adress{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 3px 1px;
	background-color:#8FB714 ;
}
.adress-block{
	background-color: #F7F7F7;
	padding: 10px 15px;
}
#elaqe h6{
	display: inline;
	margin-left: 5px;
}
#elaqe p{
	margin-left: 0px;
	display: block;
}


/* Contact */
#contact {
    margin-top: 100px;
    background-color: #E9EDF0;
}

.contact-logo {
    margin-top: 40px;
    font-weight: 300;
}

.logo-img {
    margin-bottom: 30px;
}

.contact-button button {
    margin-top: 15px;
    padding: 10px 15px;
    outline: none;
    background-color: #8FB714;
    color: #fff;
    border-radius: 10px;
    border: none;
}

.contact-button button:hover {
    color: #1A477D;
}

.contact-title {
    font-weight: 400;
    margin: 40px;
}

.contact-title p {
    font-size: 18px;
    font-weight: bold;
}

.contact-title .contact-items {
    text-decoration: none;
}

.infos {
    background-color: #8FB714;
    padding-top: 40px;
}

/*FOOTER SECTION*/
#footer {
    background-color: #1A477D;
}

#footer p {
    color: #fff;

}
@media(max-width:991px){
    #elaqe input{
        width:173%;
	}
	textarea{
		width: 173%;
	}
	.contact-adress{
		width: 85%;
		margin-top: 30px;
		margin-left: 27px;
	}
}
@media(max-width:768px){
    #elaqe input{
        width: 100%;
	}
	textarea{
		width: 100%;
	}
	.contact-adress{
		width: 85%;
		margin-top: 30px;
		margin-left: 27px;

	}
}
