*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  
}

		/*NAVBAR SECTION*/

.navbar{
	background-color: #1A477D !important;
	border-bottom:#8FB714 1px solid;
}
.nav-link{
	color: white !important;
	transition: color .5s ease
}
.nav-link:hover{
	color:  #90B914 !important;
}

.dropdown-menu{
	margin-top: 17px !important;
	background-color: #90B914 ;
}
.dropdown-menu a{
	color: #fff;
}
.dropdown-menu a:hover{
	background-color: #305E75;
	color: #fff;
}

		/*BLOG SECTION*/
#blog{
	margin-top: 100px;
}
.inner-block{
	margin: 0 auto;
    width: 583px;
}
.inner-heading{
	width: 400px;
	margin: 0 auto;
}
.inner-heading h5{
	font-size: 25px;
}
.inner-text {
	width: 590px;
	margin: 0 auto;
}
.inner-text p{
	font-size: 17px;
}
		/*CONTACT SECTION*/

#contact{
	margin-top: 100px;
	background-color: #E9EDF0;
}
.contact-logo{
	margin-top: 40px;
	font-weight: 300;
}
.logo-img{
	margin-bottom: 30px;
}
.contact-button button{
	margin-top: 15px;
	padding: 10px 15px;
	outline: none;
	background-color: #8FB714;
	color: #fff;
	border-radius: 10px;
	border: none;
}
.contact-button button:hover{
	color: #1A477D;
}

.contact-title {
	font-weight: 400;
	margin: 40px;
}
.contact-title p {
	font-size: 18px;
	font-weight: bold;
}
.contact-title .contact-items{
	text-decoration: none;
}
.infos{
	background-color: #8FB714;
	padding-top: 40px;
}

	/*FOOTER SECTION*/
#footer{
	background-color: #1A477D;
}
#footer p{
	color: #fff;

}