*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
body{
	background-color: #ffffff;
}
.navbar{
	background-color: #1A477D !important;
	border-bottom:#e7f3c2 1px solid;
}
.nav-link{
	color: white !important;
	transition: color .5s ease
}
.nav-link:hover{
	color:  #90B914 !important;
}

.dropdown-menu{
	margin-top: 17px !important;
	background-color: #90B914 ;
}
.dropdown-menu a{
	color: #fff;
}
.dropdown-menu a:hover{
	background-color: #305E75;
	color: #fff;
}
.nav-item a {
	outline:none
}

					/*TESTIMONIAL SECTION*/
#testimonial{
	height: 100%;
	width: 100%;
}
.testimonial{
	background-color: #90B914;
	text-align: center;
	padding: 30px 30px 50px;
	margin: -50px 15px 100px;
	position: relative;
	margin-top: 168px;
}

.testimonial .name{
	display: inline-block;
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	color: #1A477D;
	margin-bottom: 20px;
}

.testimonial .icon{
	display: inline-block;
	font-size: 50px;
	color: #1A477D;
	margin-bottom: 50px;
	opacity: 0.6;
}
.testimonial .description{
	font-size: 20px;
	font-weight: 400;
	color: #1A477D;
	font-family: 'Roboto Slab', serif;
	text-align: justify;
	margin-bottom: 30px;
	opacity: 0.9;
}

.testimonial .title{
	font-size: 15px;
	font-weight: bold;
	color: #1A477D;
	text-transform: capitalize;
	margin: 5 0 5px 0;
}

#contact{
	margin-top: 100px;
	background-color: #E9EDF0;
}
.contact-logo{
	margin-top: 40px;
	font-weight: 300;
}
.logo-img{
	margin-bottom: 30px;
}
.contact-button button{
	margin-top: 15px;
	padding: 10px 15px;
	outline: none;
	background-color: #8FB714;
	color: #fff;
	border-radius: 10px;
	border: none;
}
.contact-button button:hover{
	color: #1A477D;
}

.contact-title {
	font-weight: 400;
	margin: 40px;
}
.contact-title p {
	font-size: 18px;
	font-weight: bold;
}
.contact-title .contact-items{
	text-decoration: none;
}
.infos{
	background-color: #8FB714;
	padding-top: 40px;
}

	/*FOOTER SECTION*/
#footer{
	background-color: #1A477D;
}
#footer p{
	color: #fff;

}

#headerSection{

	background-color: rgb(189, 245, 233);
	position: relative;
	height: 100vh;
	table-layout: fixed;

}

.scrollit {
	overflow:scroll;
	height:700px;
	color: rgba(0, 0, 0, 0);
}

#site-title{
	font-size: 30px;
	margin-bottom: -88px;
	margin-top: 70px;
	min-width: 100%;
	background-color: #3479cc;
	height: 200px;
	color: #ffffff;
	font-size: 60px;
}

.site-tit h1{
	text-align: center;
	line-height: 199px;
	font-family: "Roboto Slab", serif;
	font-size: 60px
}

@media(max-width:768px){

	.contact-logo{
		margin-left: 40px;
	}

	.infos{
		margin-left: 40px;
	}
}