*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

/* Preloader */
.preloader{
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#fountainG{
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgba(62,145,209,0.97);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(11,38,143);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(11,38,143);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(11,38,143);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(11,38,143);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(11,38,143);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}


/*Scroll*/
* {
    scrollbar-width: thin;
    scrollbar-color: #1A477D;
  }
  *::-webkit-scrollbar {
    width: 4px; 
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #1A477D;
    
  }


  ::-webkit-scrollbar-thumb:hover {
    background: #3479cc; 
  }
  

/*Navbar*/
.navbar{
	background-color: #1A477D !important;
	border-bottom:#1A477D 1px solid;
}
.nav-link{
	color: white !important;
	transition: color .5s ease
}
.nav-link:hover{
	color:  #90B914 !important;
}

.dropdown-menu{
	margin-top: 17px !important;
	background-color: #90B914 ;
}
.dropdown-menu a{
	color: #fff;
}
.dropdown-menu a:hover{
	background-color: #305E75;
	color: #fff;
}

		/*ABOUT SECTION*/

#about{
	margin-top: 100px;
}
.image, .about-text{
	margin-bottom: 40px;
}
.image{
 	width:100%;
  	display: block;
 	height: auto;
 }
 .overlay2{
 	position: absolute;
    top: 0;
    left: 3%;
    right: 0;
    height: 90%;
    width: 94%;
    opacity: 0;
    background-color: #57874A;
    cursor: pointer;
    transition: all 0.7s;
 }
 .overlay-container:hover .overlay2{
 	opacity:.7;
 }
 .text{
 	position: absolute;
 	left: 50%;
 	top: 50%;
 	transform: translate(-50%,-50%);
 	text-align: center;
 	width: 100%;
 	height: auto;
 	color: #fff;
 }
 .overlay-border{
 	width: 45%;
 	border: 1px solid #fff;
 	margin: 0 auto;
 	margin-bottom: 15px;
 	opacity: .7;
 }
 .project-title{
 	font-size: 20px;
 	font-weight: 300;
 	letter-spacing: 1px;
 }

	/*HEADER SECTION*/

#headerSection{
	width: 100%;
	height: 100%;
	background: url(../img/sabah.jpg) center center;
	background-size: cover;
	background-repeat: no-repeat;	
	
}
#headerSection .overlay{
	background-color: rgba(0,0,0,0.4);
}
#headerSection .row{
	height: 100vh;
}
.col p{
	font-size: 44px;
	font-weight: 400;
	color: #8FB714;
	margin-bottom: 10px;
	letter-spacing: 1px;
}
		/*PRODUCT SECTION*/
#product{
	padding: 120px 0;
	background-color: #E2E5EB;
}
.product-top h3 ,.portfolio-top h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #1886C7;
}
.product-top p{
	font-weight: 500;
	font-size: 16px;
	font-style: italic;
	color: #777;
	margin-bottom: 70px;
}
.item-circle{
	border:3px solid #1886C7;
	width: 100px;
	height: 100px;
	margin:0 auto;
	border-radius: 50px;
}
.product-content i{
	color: #1886C7;
	line-height: 100px;
}
.product-content h4{
	font-family:  'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #222;
	margin-top: 24px;
}
.product-content p{
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	color: #777;	
}
					/*TESTIMONIAL SECTION*/
#testimonial{
	height: 100%;
	width: 100%;
}
.testimonial{
	background-color: #363555;
	text-align: center;
	padding: 30px 30px 50px;
	margin: -50px 15px 100px;
	position: relative;
	margin-top: 168px;
}
.testimonial .icon{
	display: inline-block;
	font-size: 80px;
	color: #FFFFFF;
	margin-bottom: 20px;
	opacity: 0.6;
}
.testimonial .description{
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	text-align: justify;
	margin-bottom: 30px;
	opacity: 0.9;
}


.testimonial .title{
	font-size: 15px;
	font-weight: bold;
	color: #000;
	text-transform: capitalize;
	margin: 5 0 5px 0;
}
.testimonial .post{
	display: block;
	font-size: 14px;
	color: #ffd9b8;
}
.test-pic img{
	width: 100px !important;
	height: 50px; 
}

#contact{
	margin-top: 100px;
	background-color: #E9EDF0;
}
.contact-logo{
	margin-top: 40px;
	font-weight: 300;
}
.logo-img{
	margin-bottom: 30px;
}
.contact-button button{
	margin-top: 15px;
	padding: 10px 15px;
	outline: none;
	background-color: #8FB714;
	color: #fff;
	border-radius: 10px;
	border: none;
}
.contact-button button:hover{
	color: #1A477D;
}

.contact-title {
	font-weight: 400;
	margin: 40px;
}
.contact-title p {
	font-size: 18px;
	font-weight: bold;
}
.contact-title .contact-items{
	text-decoration: none;
}
.infos{
	background-color: #8FB714;
	padding-top: 40px;
}

	/*FOOTER SECTION*/
#footer{
	background-color: #1A477D;
}
#footer p{
	color: #fff;

}

		/*NEWS SECTION*/
#news{
	margin-top:100px;
}
.card{
	width: 19rem;
	border-radius: 10px; 
}
.card-title{
	font-style: italic;
	font-size: 22px;
	color: #90B914;
}
.news-link{
	color: #0572B8;
	margin-left: 90px;
}
.news-link:hover{
	text-decoration: none;
	color: #57874A;
}


#site-title {
    font-size: 30px;
    margin-top: 70px;
    min-width: 100%;
    background-color: #3479cc;
    height: 200px;
    color: #ffffff;
    font-size: 30px;
    
}

.site-tit h1 {
    text-align: center;
    line-height: 199px;
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
}



@media(max-width:990px){
	.overlay2{
		position: absolute;
	    top: 0;
	    left: 2%;
	    right: 0;
	    height: 92%;
	    width: 96%;
	    opacity: 0;
	    background-color: #57874A;
	    cursor: pointer;
	    transition: all 0.7s;
	}
	.pic-text{
		display: flex;
		/* flex-direction: column-reverse; */
	}
}
@media(max-width:768px){
	.card{
		margin:0 auto;
		margin-bottom: 20px;
	}
	.contact-logo{
		margin-left: 40px;
	  }
	.overlay2{
		position: absolute;
	    top: 0;
	    left: 2%;
	    right: 0;
	    height: 92%;
	    width: 96%;
	    opacity: 0;
	    background-color: #57874A;
	    cursor: pointer;
	    transition: all 0.7s;
		}
	.pic-text{
		display: flex;
		flex-direction: column-reverse;
	}
}
@media(max-width:640px){
	.pic-text{
		display: flex;
		flex-direction: column-reverse;
	}
	.overlay2{
		position: absolute;
	    top: 0;
	    left: 4%;
	    right: 0;
	    height: 87%;
	    width: 93%;
	    opacity: 0;
	    background-color: #57874A;
	    cursor: pointer;
	    transition: all 0.7s;
	}
}
@media(max-width:540px){
	#news-section h1{
		margin-left: 34%;
	  }
	
}
@media(max-width:375px){
	.card{
		width: 18rem;
	}
}
@media(max-width:360px){
	.card{
		margin: 0 auto;
		margin-bottom: 20px;
		
	}
	.overlay2{
		left: 4%;
		right: 0;
		height: 85%;
		width: 92%;
	 
	}
	.pic-text{
		display: flex;
		flex-direction: column-reverse;
	}
}
@media(max-width:320px){
	.card{
		width: 18rem;
		margin-bottom: 10px;
	}
	.overlay2{
		position: absolute;
	    top: 0;
		left: 4%;
		right: 0;
		height: 84%;
		width: 92%;
		opacity: 0;
	    background-color: #57874A;
	    cursor: pointer;
	    transition: all 0.7s;
	 
	}
	.pic-text{
		display: flex;
		flex-direction: column-reverse;
	}
	.card{
		margin-left: 0;
		margin-right: 12px;
	}
	
}
@media(max-width:280px){
	.cards{
		padding-left: 0;
		padding-right: 0;
	}
	.card{
		margin-left: 11px;
		width: 16rem;
		margin-bottom: 10px;
	}
}