{% extends '/admin/admin-layout.html' %}

{% block body %}

<!-- Page Content-->
<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">SABAH</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Blog</a></li>
                            <li class="breadcrumb-item active">Tədbirlər</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Tədbirlər</h4>
                </div>
                <!-- end page-title-box -->
            </div>
            <!--end col-->
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ url_for('admin.event_create') }}"><button type="button"
                                class="btn btn-primary waves-effect waves-light float-right mb-3" data-toggle="modal"
                                data-animation="bounce" data-target=".bs-example-modal-lg">+
                                Tədbir əlavə et</button></a>

                        <h4 class="mt-0 header-title">Tədbirlərin Məlumat Bazası</h4>
                        <p class="text-muted mb-3">Bütün tədbirlərin məlumatları aşağıda göstərilir.<hr>
                            Cədvəlin sonunda göstərilən işarələr vasitəsi ilə xəbərdə dəyişikliklər edə bilərsiniz.<br><br>
                            <strong>Qeyd:</strong> Yüklənilən şəkilin ölçüsü müəyyən standartlara uyğun olmalıdır. Şəkilin uzunluğu eni ilə təxmini eyni ölçüdə olmalıdır. <br> Nümunə ölçülər: <code>5729x3556, 1920x1281, 5616x3744</code><br><br>
                            <code>Əməliyyatlar :</code> <i class="fas fa-edit text-info font-16"></i> -Tədbir yenilə <i
                                    class="fas fa-trash-alt text-danger font-16" style="margin-left: 10px;"></i> -Tədbir sil
                        </p>

                        <!-- Flash Message -->
                        <main role="main">
                            <div class="row">
                                <div class="col-md-8">
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                    {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                        </main>

                        <table id="datatable" class="table table-bordered dt-responsive nowrap"
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>#Id</th>
                                    <th>Başlıqlar</th>
                                    <th>Şəkillər</th>
                                    <th>Tarix</th>
                                    <th>Məqalələr</th>
                                    <th>Əməliyyatlar</th>
                                </tr>
                            </thead>
                            {% for event in events %}
                            <tbody>
                                <tr>
                                    <td> {{ event.id }} </td>
                                    <td> {{ event.title }} </td>
                                    <td> {{ event.image[:10] + '...' }} </td>
                                    <td> {{ event.add_date }} </td>
                                    <td> {{ event.text[:30] + '....'  }} </td>

                                    <td>
                                        <a href="{{ url_for('admin.event_update', event_id=event.id) }}" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                        <a data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                    </td>
                                </tr>
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Məlumatı silmək istəyirsiniz?</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <p style="color: red;">Diqqət!</p> Silinən məlumat geri qaytarılmır
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Qayıt</button>
                                          <form action="{{ url_for('admin.event_delete', event_id=event.id) }}" method="POST">
                                            <input class="btn btn-danger" type="submit" value="Sil">
                                          </form>
                                          
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </tbody>
                            {%  endfor %}
                        </table>

                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
        <!-- end page title end breadcrumb -->
    </div>
    <!--end page-title-box-->
</div>
<!--end col-->
</div>
<!-- end page title end breadcrumb -->

{% endblock %}

