{% extends '/admin/admin-layout.html' %}

{% block body %}
           
           
           <!-- Page Content-->
            <div class="page-content">

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-right">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">SABAH</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Blog</a></li>
                                        <li class="breadcrumb-item active">Elanlar</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Elanlar</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div>
                    <!-- end page title end breadcrumb -->

{% endblock %}
            