{% extends '/admin/admin-layout.html' %}

{% block link %}
<link href="{{ url_for('static', filename='plugins/dropify/css/dropify.min.css') }}" rel="stylesheet">{% endblock %}



{% block body %}

<!-- Page Content-->
<div class="page-content">

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">SABAH</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Ana səhifə</a></li>
                            <li class="breadcrumb-item active"><a href="{{ url_for('admin.admin_home') }}">Slider</a>
                            </li>
                            <li class="breadcrumb-item active">Slider əlavə et</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Slider</h4>
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">{{ label }}</h4>
                        <form method="POST" enctype="multipart/form-data" action="">
                            {{ form.hidden_tag() }}
                            <p class="text-muted mb-3">{{ description }}</p>
                            <div class="form-group">
                                {{ form.url.label(class="form-control-label") }}
                                {% if form.url.errors %}
                                {{ form.url(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.url.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.url(class="form-control form-control-lg", placeholder='www.bdu.edu.az') }}
                                {% endif %}
                            </div>



                            <div class="form-group">
                                {{ form.image.label(class="form-control-label") }}
                                {% if form.image.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.image.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {% if slider %}
                                {{ form.image(class="dropify", data_default_file=url_for('static' , filename="pics/" + slider.image)) }}
                                {% else %}
                                {{ form.image(class="dropify")}}
                                {% endif %}
                                {% endif %}
                            </div>
                            <button type="submit" style="margin-top: 15px; float: right;"
                                class="btn btn-primary">Yüklə</button>
                        </form>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
        <!-- end page title end breadcrumb -->


        {% endblock %}

        {% block script %}
        <script src="{{ url_for('static', filename='plugins/dropify/js/dropify.min.js') }}"></script>
        <script src="{{ url_for('static', filename='pages/jquery.form-upload.init.js') }}"></script>
        {% endblock %}