{% extends 'base.html' %}

{% block link %}<link rel="stylesheet" href="{{ url_for('static', filename='css/groups.css') }}">{% endblock %}

{% block title %}Qruplar və Fənlər{% endblock %}

{% block body %}
        <!--SITE TITLE START-->
        <section id="site-title">
            <div class="col-lg-12">
                <div class="container-fluid" style="padding-left: 0px;">
                    <div class=" row">
                    <div class="col-lg-12">
                        <div class="site-tit">
                            <h1>Qruplar/Fənlər</h1>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!--Site TITLE END-->
        <!--TABLE START-->
        <header id="headerSection">
            <div style="overflow-x:auto;" class="scrollit">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th><b>
                                    <h4>Fənnın adı</h4>
                                </b></th>
                            <th><b>
                                    <h4>Fənnin saatı</h4><b></th>
                            <th><b>
                                    <h4>Kredit miqdarı</h4><b></th>
                            <th><b>
                                    <h4>Qayıb limiti</h4><b></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Riyazi analiz</td>
                            <td>60 saat</td>
                            <td>4</td>
                            <td>12</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Fizika</td>
                            <td>30 saat</td>
                            <td>5</td>
                            <td>7</td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>6</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>7</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>8</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>9</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>10</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>11</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>12</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>13</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>14</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>15</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>16</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>17</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>18</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>19</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                        <tr>
                            <td>20</td>
                            <td>İngilis dili</td>
                            <td>45 saat</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </header>
        <!--TABLE END-->



        <!--CONTENT START-->

        <section id="groups">
            <div class="container">
                <div class="specialties-title">
                    <h1>İxtisaslar</h1>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block" type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <h6>Riyaziyyat müəllimliyi </h6>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <ul>
                                            <li><a href="#">Qrup 1</a></li>
                                            <li><a href="#">Qrup 2</a></li>
                                            <li><a href="#">Qrup 3</a></li>
                                            <li><a href="#">Qrup 4</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block" type="button" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            <h6>Fizika müəllimliyi</h6>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <ul>
                                            <li><a href="#">Qrup 1</a></li>
                                            <li><a href="#">Qrup 2</a></li>
                                            <li><a href="#">Qrup 3</a></li>
                                            <li><a href="#">Qrup 4</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block" type="button" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            <h6>Kimya müəllimliyi</h6>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <ul>
                                            <li><a href="#">Qrup 1</a></li>
                                            <li><a href="#">Qrup 2</a></li>
                                            <li><a href="#">Qrup 3</a></li>
                                            <li><a href="#">Qrup 4</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block" type="button" data-toggle="collapse"
                                            data-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                            <h6>Kompüter elmləri</h6>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <ul>
                                            <li><a href="#">Qrup 1</a></li>
                                            <li><a href="#">Qrup 2</a></li>
                                            <li><a href="#">Qrup 3</a></li>
                                            <li><a href="#">Qrup 4</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="accordion2" id="accordionExample2">
                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block" type="button" data-toggle="collapse"
                                            data-target="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">
                                            <h6>Coğrafiya müəllimliyi</h6>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                    data-parent="#accordionExample2">
                                    <div class="card-body">
                                        <ul>
                                            <li><a href="#">Qrup 1</a></li>
                                            <li><a href="#">Qrup 2</a></li>
                                            <li><a href="#">Qrup 3</a></li>
                                            <li><a href="#">Qrup 4</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingSix">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block" type="button" data-toggle="collapse"
                                            data-target="#collapseSix" aria-expanded="false"
                                            aria-controls="collapseSix">
                                            <h6>Biologiya müəllimliyi</h6>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                    data-parent="#accordionExample2">
                                    <div class="card-body">
                                        <ul>
                                            <li><a href="#">Qrup 1</a></li>
                                            <li><a href="#">Qrup 2</a></li>
                                            <li><a href="#">Qrup 3</a></li>
                                            <li><a href="#">Qrup 4</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingSeven">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block" type="button" data-toggle="collapse"
                                            data-target="#collapseSeven" aria-expanded="false"
                                            aria-controls="collapseSeven">
                                            <h6>Psixologiya</h6>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                                    data-parent="#accordionExample2">
                                    <div class="card-body">
                                        <ul>
                                            <li><a href="#">Qrup 1</a></li>
                                            <li><a href="#">Qrup 2</a></li>
                                            <li><a href="#">Qrup 3</a></li>
                                            <li><a href="#">Qrup 4</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingEight">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block" type="button" data-toggle="collapse"
                                            data-target="#collapseEight" aria-expanded="false"
                                            aria-controls="collapseEight">
                                            <h6>Hüquqşünaslıq</h6>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                                    data-parent="#accordionExample2">
                                    <div class="card-body">
                                        <ul>
                                            <li><a href="#">Qrup 1</a></li>
                                            <li><a href="#">Qrup 2</a></li>
                                            <li><a href="#">Qrup 3</a></li>
                                            <li><a href="#">Qrup 4</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingNine">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block" type="button" data-toggle="collapse"
                                            data-target="#collapseNine" aria-expanded="false"
                                            aria-controls="collapseNine">
                                            <h6>Tarix müəllimliyi</h6>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                                    data-parent="#accordionExample2">
                                    <div class="card-body">
                                        <ul>
                                            <li><a href="#">Qrup 1</a></li>
                                            <li><a href="#">Qrup 2</a></li>
                                            <li><a href="#">Qrup 3</a></li>
                                            <li><a href="#">Qrup 4</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>


{% endblock %}