{% extends 'base.html' %}

{% block link %}<link rel="stylesheet" href="{{ url_for('static', filename='css/inner.css') }}">{% endblock %}

{% block title %}Blog{% endblock %}

{% block body %}



		<!-- BLOG SECTION -->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-sm-12 about-col">
						<div class="overlay-container">
							<img src="{{ url_for('static', filename='pics/' + oneNews.image) }}" class="image img-fluid">
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-12 about-text">
						<h4>{{ oneNews.title}}</h4>
						<h4>date</h4>
						<p>{{ oneNews.text }}</p>
					</div>
				</div>
			</div>
		</section>

{% endblock %}