{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/inner.css') }}">{% endblock %}

{% block title %}Blog{% endblock %}

{% block body %}



<!-- BLOG SECTION -->
<section id="about">
	<div class="container">
		<h6 class="project-title"
			style="font-size: 50px; font: 20px; font-weight: 700!important;color: #1A477D; margin-top: 120px">
			{{ oneNews.title }}</h6></br>
		<img src="{{ url_for('static', filename='pics/' + oneNews.image) }}" align="left" class="image img"
			style="max-width: 400px; padding-right: 30px; padding-top: 20px;  margin-bottom: 10px;">
		{{ oneNews.text }}<br CLEAR=”left” />
	</div>
	</div>
	</div>
	</div>
</section>

{% endblock %}