{% extends 'base.html' %}

{% block link %}<link rel="stylesheet" href="{{ url_for('static', filename='css/Sabah-achivement.css') }}">{% endblock %}

{% block title %}Könüllülük{% endblock %}

{% block body %}
            
            <!--SITE TITLE START-->
            <section id="site-title">
                <div class="col-lg-12">
                    <div class="container-fluid"">
                    <class class=" row">
                        <div class="col-lg-12">
                            <div class="site-tit">
                                <h1>Könüllülük</h1>
                            </div>
                        </div>
                        </class>
                    </div>
                </div>
            </section>
            <!--Site TITLE END-->

            <!--CONTENT START-->
            <section id="about">
                <div class="container">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename='img/konulluluk3.JPG') }}" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"> SABAH könüllülərinin üstünlükləri</h5>
                                    <p class="card-text">Proin iaculis puruss consequat sem cure digni ssim.Donec
                                        porttitora entum
                                        suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                                        sem cure digni ssim.Donec porttitora entum
                                        suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                                        sem cure digni ssim.Donec porttitora entum
                                        suscipit aenean rhoncus posuere odio in tincidunt</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"> SABAH könüllülərinin məqsədi</h5>
                                    <p class="card-text">Proin iaculis puruss consequat sem cure digni ssim.Donec
                                        porttitora entum
                                        suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                                        sem cure digni ssim.Donec porttitora entum
                                        suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                                        sem cure digni ssim.Donec porttitora entum
                                        suscipit aenean rhoncus posuere odio in tincidunt</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename='img/konulluluk1.JPG') }}" class="card-img" alt="...">
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename='img/konulluluk2.jpg') }}" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">SABAH könüllüsü olmaq üçün online qeydiyyat linki </h5>
                                    <p class="card-text">Proin iaculis puruss consequat sem cure digni ssim.Donec
                                        porttitora entum
                                        suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                                        sem cure digni ssim.Donec porttitora entum
                                        suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                                        sem cure digni ssim.Donec porttitora entum
                                        suscipit aenean rhoncus posuere odio in tincidunt</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </section>


            <!--CONTENT END-->


    {% endblock %}