{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/specialties.css') }}">{% endblock %}

{% block title %}İxtisaslar{% endblock %}

{% block body %}

<!--SITE TITLE START-->
<section id="site-title">
    <div class="col-lg-12">
        <div class="container-fluid"">
                    <class class=" row">
            <div class="col-lg-12">
                <div class="site-tit">
                    <h1>Ixtisaslar</h1>
                </div>
            </div>
            </class>
        </div>
    </div>
</section>
<!--Site TITLE END-->

<!--CONTENT START-->
<section id="about">
    <div class="container">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='img/computer.jpg') }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Biologiya müəllimliyi</h5>
                        <p class="card-text">Proin iaculis puruss consequat sem cure digni ssim.Donec
                            porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt</p>
                        <p class="card-text"><small class="text-muted">İXTISASIN KODU: 050110 <br>BÖLMƏ:
                                Azərbaycan</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Coğrafiya müəllimliyi</h5>
                        <p class="card-text">Proin iaculis puruss consequat sem cure digni ssim.Donec
                            porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt</p>
                        <p class="card-text"><small class="text-muted">İXTISASIN KODU: 050115 <br>BÖLMƏ:
                                Azərbaycan</small></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='img/computer.jpg') }}" class="card-img" alt="...">
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='img/computer.jpg') }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Fizika müəllimliyi</h5>
                        <p class="card-text">Proin iaculis puruss consequat sem cure digni ssim.Donec
                            porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt</p>
                        <p class="card-text"><small class="text-muted">İXTISASIN KODU: 050104 <br>BÖLMƏ:
                                Azərbaycan</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Hüquqşünaslıq</h5>
                        <p class="card-text">Proin iaculis puruss consequat sem cure digni ssim.Donec
                            porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt</p>
                        <p class="card-text"><small class="text-muted">İXTISASIN KODU: 050212 <br>BÖLMƏ:
                                Azərbaycan</small></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='img/computer.jpg') }}" class="card-img" alt="...">
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='img/computer.jpg') }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Kimya müəllimliyi</h5>
                        <p class="card-text">Proin iaculis puruss consequat sem cure digni ssim.Donec
                            porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt</p>
                        <p class="card-text"><small class="text-muted">İXTISASIN KODU: 050111 <br>BÖLMƏ:
                                Azərbaycan</small></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Kompüter elmləri</h5>
                        <p class="card-text">Proin iaculis puruss consequat sem cure digni ssim.Donec
                            porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt</p>
                        <p class="card-text"><small class="text-muted">İXTISASIN KODU: 050509 <br>BÖLMƏ:
                                Azərbaycan</small></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='img/computer.jpg') }}" class="card-img" alt="...">
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='img/computer.jpg') }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Psixologiya</h5>
                        <p class="card-text">Proin iaculis puruss consequat sem cure digni ssim.Donec
                            porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt</p>
                        <p class="card-text"><small class="text-muted">İXTISASIN KODU: 050209 <br>BÖLMƏ:
                                Azərbaycan</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Tarix müəllimliyi </h5>
                        <p class="card-text">Proin iaculis puruss consequat sem cure digni ssim.Donec
                            porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt</p>
                        <p class="card-text"><small class="text-muted">İXTISASIN KODU: 050113 <br>BÖLMƏ:
                                Azərbaycan</small></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='img/computer.jpg') }}" class="card-img" alt="...">
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='img/computer.jpg') }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Riyaziyyat müəllimliyi</h5>
                        <p class="card-text">Proin iaculis puruss consequat sem cure digni ssim.Donec
                            porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt.Proin iaculis puruss consequat
                            sem cure digni ssim.Donec porttitora entum
                            suscipit aenean rhoncus posuere odio in tincidunt</p>
                        <p class="card-text"><small class="text-muted">İXTISASIN KODU: 050106 <br>BÖLMƏ:
                                Azərbaycan</small></p>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>
</section>


<!--CONTENT END-->


{% endblock %}