{% extends 'base.html' %}

{% block link %}<link rel="stylesheet" href="{{ url_for('static', filename='css/recommend-style.css') }}">{% endblock %}

{% block title %}Tövsiyələr{% endblock %}

{% block body %}

		<section  id = "site-title">
		  <div class = "col-lg-12">
			  <div class="container-fluid">
				   <class class="row">
					   <div class="col-lg-12">
						 <div class = "site-tit">
						   <h1>Tövsiyələr</h1>
					   </div>
			  </div>
		  </div>
		</section>
			<section id="testimonial">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div id="testimonial-slider" class="owl-carousel">
								<div class="testimonial">
									<span class="icon fa fa-quote-left"> 
									</span>
									<p class="description">
										Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
									</p>
																<p class = "name">Müəllim 1</p>
									<div class="testimonial-content">
									</div>
								</div>
								<div class="testimonial">
									<span class="icon fa fa-quote-left"> 
									</span>
									<p class="description">
										Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
									</p>
																<p class = "name">Müəllim 2</p>
									<div class="testimonial-content">
									</div>
								</div>
								<div class="testimonial">
									<span class="icon fa fa-quote-left"> 
									</span>
									<p class="description">
										Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
									</p>
																<p class = "name">Müəllim 3</p>
									<div class="testimonial-content">
									</div>
								</div>
								<div class="testimonial">
									<span class="icon fa fa-quote-left"> 
									</span>
									<p class="description">
										Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
									</p>
																<p class = "name">Müəllim 4</p>
									<div class="testimonial-content">
									</div>
								</div>
								<div class="testimonial">
									<span class="icon fa fa-quote-left"> 
									</span>
									<p class="description">
										Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
									</p>
																<p class = "name">Müəllim 5</p>
									<div class="testimonial-content">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>

{% endblock %}